.slider {
    width: 40%;
    background-color: green;
    height: 2cqw;
    border-radius: 1cqw;
    margin: 0 auto;
}

.slide-container {
    width: 100%;
    margin-top: 2cqw;
}

div {
    margin-top: 2cqw;
    font-size: 3cqw;
    font-weight: bold;

}
.start-button {
    margin-top: 2cqw;
    font-size: 3cqw;
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 1cqw;
    border-radius: 1cqw;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.start-button:hover {
    background-color: #00ff00;
}
.start-button:active {
    background-color: white;
    color: green;
}

