Body
{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: black;
}
.container {
    display: grid;
 grid-template-columns: 40% 30% 20%;
}
.screen
{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.digHolder {
    width: 70%;
    aspect-ratio: 1;
    border: 3px solid rgb(50, 80, 250);
    color: aliceblue;
    font-size: 4cqw;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 100, 10);
}
.selected
{
 background-color: rgb(50, 80, 250);  
 border-color: rgb(210, 100, 10);
}
.numpad
{
    margin-top: 4cqw ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 80%;
    color: aliceblue;
}
.numpad > button
{
    width: 50%;
    margin-top: 1cqw;
    margin-left: 0.5cqw;
    margin-right: 0.5cqw;
   border: solid 1px rgb(50, 80, 250);
   aspect-ratio: 1;
   font-size: 2.2cqw;
}
.numpad > button:hover {
    cursor: pointer;
    opacity: 0.67;
}
.numpad > button:active {
    opacity: 0.4;
}
.numpad2
{
    margin-top: 0.5cqw ;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    width: 80%;
    color: aliceblue;
}
.numpad2 > button
{
    width: 60%;
    margin: 0.5cqw;
   border: solid 1px rgb(50, 80, 250);
   aspect-ratio: 2;
   font-size: 2.2cqw;
}
.numpad2 > button:hover {
    cursor: pointer;
    opacity: 0.67;
}
.numpad2 > button:active {
    opacity: 0.4;
}
.guess {
    color: black;
    font-size: 2cqw;
}
.guess > div {
   color: #000;
   font-size: 2cqw;
}

.win {
    color: rgb(0, 120, 10);
    font-size: 3cqw;
    text-align: center;
    margin-top: 2cqw;
    margin-bottom: 2cqw;
    font-weight: bold;
}
.sec 
{
 font-size: 2cqw;
 color: brown;
 font-weight: bold;
}
.but
{
    margin-top: 2cqw;
    margin-bottom: 2cqw;
    background-color: blue;
    color: white;
    border: none;
    padding: 1cqw;
    border-radius: 1cqw;
    cursor: pointer;
}


header {
   display: grid;
   grid-template-columns: 1fr 1fr ;
   gap: 1cqw;
   padding: 0.5cqw;
   align-items: center;
   justify-items: center;
  color: white;
  background-color: black;
  margin-bottom: 2cqw;
}
header a {
    width: 100%;
}
header button {
    background-color: rgb(15,15,15);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2cqw;
    font-weight: bold;
    border-radius: 0.5cqw;
    width: 100%;
    border: 1px solid rgb(50, 80, 250);
    transition: all 0.25s;
}
header button:hover {
 background-color: rgb(50, 50, 50);
}
header button:active {
    background-color: rgb(70, 70, 70);
}
table {
    width: 120%;
    border-collapse: collapse;
    border: 1px solid rgb(50, 80, 250);
    table-layout: auto;
}
table th {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 1cqw;
    text-align: left;
    border: none;
    font-weight: bold;
    font-size: 1.2cqw;
}
table td {
    padding: 1cqw;
    text-align: center;
    border: 1px solid rgb(50, 80, 250);
    font-size: 2cqw;
    background-color: rgb(220,210,235);
}
